/* Aplicamos el margen lateral al contenedor principal */
ion-content {
  --padding-start: 24px;
  --padding-end: 24px;
}

.contact-header {
  padding: 40px 0 20px;
  
  h1 {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 10px;
    color: white;
    
    .highlight { 
      color: #4486ff; 
    }
  }
  
  p {
    color: #888;
    font-size: 14px;
  }
}

.form-container {
  margin-top: 20px;
  width: 100%;
  padding: 16px;

  .input-group {
    margin-bottom: 24px;
    width: 100%;
    
    label {
      display: block;
      font-size: 11px;
      font-weight: 800;
      letter-spacing: 1.5px;
      margin-bottom: 8px;
      color: #4486ff;
      text-transform: uppercase;
    }

    input, textarea {
      display: block;
      width: 100%;
      box-sizing: border-box; /* Evita que el input se salga del margen por el padding */
      background: #151515;
      border: 1px solid #222;
      border-radius: 12px;
      padding: 16px;
      color: white;
      font-size: 16px; /* 16px evita el zoom automático en iOS al hacer focus */
      font-family: inherit;

      &::placeholder { 
        color: #444; 
      }
      
      &:focus {
        outline: none;
        border-color: #4486ff;
        background: #1a1a1a;
      }
    }
  }
}

.btn-black {
  --background: #4486ff;
  --color: white;
  --border-radius: 14px;
  margin: 10px 0;
  height: 58px;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
}

.social-footer {
  margin-top: 40px;
  padding-bottom: 40px;
  
  p {
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #555;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}